<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example PhoneBook App</title>
</head>
<body>

<h1>PhoneBook</h1>

<h2>Address Book</h2>

<ul>
	<% for (let person of people) {%>
	    <li>
            <div> <%=person.last_name%>, <%=person.first_name%> </div>
            <div> Phone numbers:
                <ul>
                    
                    <% for (let number of person.numbers) { %>
                    <li><%=number.area_code%>-<%=number.exchange%>-<%=number.number%></li>

                    
                <% } %>
                </ul>
            </div>
        </li>
	<% } %>
</ul>

</body>
</html>
